<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <meta charset = "urf-8" name = "viewport" content = "width=device-width, initial-scale=1"/>
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}"/>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/jquery.dataTables.css' %}"/>
    </head>
<body>
    <nav class = "navbar navbar-default" >
        <div class = "container-fluid">
            <a class = "navbar-brand ">Дети</a>
        </div>
    </nav>
    <!---<div class = "col-sm-8"></div>--->
        {% block body %}
            <div class = "col-xs-pull-6" style="margin: 20px;">
            <table id = "child_table" class = "table table-bordered">
                <thead class = "alert-success">
                    <tr>
                        <th style="width: 20%">Фамилия</th>
                        <th style="width: 20%">Имя</th>
                        <th style="width: 20%">Отчество</th>
                        <th style="width: 10%">Дата рождения</th>
                        <th style="width: 10%">Пол</th>
                        <th style="width: 20%">Сертификат</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in table %}
                    <tr>
                        <td class="btn-link" href="/viewer/childdata/moreinfo/?id={{ data.id }}">{{ data.first_name }}</td>
                        <td>{{ data.middle_name }}</td>
                        <td> {{ data.last_name }}</td>
                        <td>{{ data.date_birth }}</td>
                        <td>{{ data.sex }}</td>
                        <td>{{ data.certificate_num }}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
            </div>
        {% endblock %}
</body>
{%  block js_stuff %}
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type = "text/javascript">
        $(document).ready(function() {
                $('#child_table thead th').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" style="width: auto" placeholder="Поиск '+title+'" />' );
                } );
            var table = $('#child_table').DataTable({
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every( function () {
                        var that = this;
                        $( 'input', this.header() ).on( 'keyup change clear', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );
                }
            });
        } );
    </script>
{% endblock %}
</html>


